.item {
    border: 1px solid crimson;
}

.image {
    width: auto;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    padding: 15px;
}
